@model Item

@{
	ViewData["Title"] = "Delete Item";
}

<h1>@ViewData["Title"]</h1>

<p>Are u sure to delete item: <strong>@Model.Nome</strong> </p>

<form asp-action="ConfirmDelete" method="post" >
	<input type="hidden" name="id" value="@Model.Id" />
	<input type="submit" />
</form>

<a asp-controller="Item" asp-action="Index">Abort</a>