@model (Test3.Models.Item, Test3.Models.ItemDetailList)

<h1>Detail of: @Model.Item1.Nome</h1>

<table>
	<tr>
		<td>Nome</td>
		<td>Amount</td>
	</tr>
	@foreach (var itemDetail in Model.Item2.ItemNames)
	{
		<tr>
			<td>itemDetal.Nome</td>
		</tr>
	}
</table>

<!-- TODO: update everytime a list with all ItemDetail -->

<a asp-controller="Item" asp-action="Index" >Undo</a>