@model IEnumerable<Item>

@{
	ViewData["Title"] = "Item list";
}

<h1>Item list</h1>

<div class="container">
	<a asp-controller="Item" asp-action="AddItem" >Aggiungi</a>
</div>

<ul>
	@foreach (var item in Model)
	{
		<li>@item.Nome <a asp-controller="Item" asp-action="Detail" asp-route-id="@item.Id">Dettagli</a> <a asp-controller="Item" asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a> <a asp-controller="Item" asp-action="EditItem" asp-route-id="@item.Id" >Edit</a></li>
	}
</ul>