@model IEnumerable<ItemDetail>

@{
	ViewData["Title"] = "Item detail list";
}

<h1>Item detail list</h1>

<div class="container">
	<a asp-controller="ItemDetail" asp-action="AddItemDetail">Aggiungi</a>
</div>

<table>
	<tr>
		<td>Nome</td>
		<td>Amount</td>
	</tr>
	@foreach (var itemDetail in Model)
	{
		<tr>
			<td>@itemDetail.Nome</td>
			<td>@itemDetail.Amount</td>
			<td><a asp-controller="ItemDetail" asp-action="Detail" asp-route-id="@itemDetail.ItemId" >Detail</a></td>
		</tr>
	}
</table>